
body{
	font-family: calibri, helvetica, sans-serif;
	font-size: 22px;

}

.banner{
	clear: both;
	padding: 0px 0% 0px 20%;
}

.menu{
	position:sticky; 
	list-style:none; 
	float:left; 
	border-top: 4px solid RGB(97, 186, 229);
	font-family: Calibri, Tahoma, Arial, sans-serif;
	font-size: 26px;
	background: #000;
	width: 97.85%;
	color: #fff;
	}
	

.menu li{
	float:left; 
	font-size: 26px;
	background: RGB(97, 186, 229);
	border-right:1px solid RGB(97, 186, 229); 
	color:#fff;
	position:sticky;
	}
	

.menu li a{
	color:#fff; 
	text-decoration:none; 
	padding:5px 10px; 
	display:block;
	background: #000 ;
	position:sticky;
	}

.menu li a:hover{
	background:RGB(97, 186, 229); 
	color:#fff; 
	text-shadow:0px 0px 5px #fff; 
	}

.menu li   ul{
	position:absolute; 
	top: 40px; 
	left:-40px; 
	display:none; 
	}

.menu li:hover ul, .menu li.over ul{display:block;}

.menu li ul li{border:1px solid  RGB(97, 186, 229); display:block; width:150px;}

#authors {
	text-align: center;
}

#main-footer {
    width: 97.85%;
    position: relative;
    display: table;
    padding: 20px;
    margin: 0 auto;
	background: RGB(97, 186, 229);
	border-radius: 0px 0px 10px 10px;
	font-weight: bold;
	color: #fff;
}
.noticias{
	position:relative;
	float:center;
	margin: 0px 600px 0px 300px ;
	border-top: 3px double #000;
	border-bottom: 3px double #000;
	height: 600px;
	list-style: none;
}
.noticias li{
	position:relative;
	float: left;
	margin: 0px 350px 0px 350px ;
}

.noticias img{
	border-radius: 10px;
	height: 250px;
	width: 250px;
}
.noticias ul li ul{
	margin: 0px 350px 0px 350px ;
}
.gastronomia a, .cinema a, .teatro a, .intercambio a{
	        text-decoration:none;
}
.gastronomia, .cinema , .agenciaviagem, .eventos, .quemsomos, .teatro, .intercambio   {
	text-align: center;
        }

.label {
width:85px;
background-color:#000;
}

.agenciaviagem img, .cinema img, .viagem img, .gastronomia img, .teatro img, .intercambio img{
	border-radius: 80px 80px 80px 80px ;
}

.equipe img{
	border-radius: 200px 200px 200px 200px; 
	width: 100px;
}
.equipe legend{
	font-weight: bold;
}
#redes-sociais{
	background: #fff;
	clear: both;
	float: left;
	width: 25%;
	border-radius: 10px 0px 10px 0px;

}

#redes-sociais img{
	margin: 0px 20px 20px 20px ;
	width: 45px;
}

#redes-sociais p{
	font-family: Calibri;
	font-weight: bold; 
	text-align: center;
	color: #000;
}

.mySlides, w3-content, w3-btn-floating {
	float: left;
	margin: 0px 350px 0px 350px ;
}

#panel, #panel2,#panel3,#flip{
	width: 800px;
	margin: 0px 0px 0px 350px ;
    text-align: center;
      border: solid 1px #c3c3c3;
    background-color: RGB(97, 186, 229);
 
}

#panel, #panel2,#panel3 {
	float: left;
    display: none;
}

